*.o
.vscode

character/charCreator
character/testList
character/test.out

character/chars/*
!character/chars/RayAran.chr
!characters/chars/test.chr

map/testSprite
map/makeSprite
map/makeMap
map/randMap
map/dispMap
map/playMap
map/makeCast

map/sprites/*
!map/sprites/sprites.out

map/maps/*
!map/maps/FirstDungeon*.out
!map/maps/room.out